{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <h1>Welcome to my page!</h1>
    <p>
        This is the demo application that will be used to reinforce knowledge on the Flask Framework
    </p>
    <p>
        Hello there! my name is {{name}} and I'm {{age}} years old. I strive to be a programmer.
    </p>
    <p>
        Click below to get started!
    </p>
    <p>
        <button>
            <a href="{{ url_for('card_view', index=0) }}">
                Start!
            </a>
        </button>
    </p>
    <p>
        <h2>Flash cards</h2>
        <ul>
            {% for card in cards %}
            <li>
                <a href="{{ url_for('card_view', index=loop.index0) }}">
                    {{ card.question }}
                </a>
            </li>

            {% endfor %}
        </ul>
        <a href="{{ url_for('add_card') }}">Add a new card</a>
    {% endblock %}